.subheader {
    padding: 267px 0 90px 0;
}

h1 {
    font-family: "Bold";
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 305px;
}

.subheader__item__image {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}


.idea {
    padding: 90px 0 64px 0;
}





